[submodule "Grokking-System-Design"]
	path = Grokking-System-Design
	url = https://github.com/Jeevan-kumar-Raj/Grokking-System-Design.git
[submodule "system-design-primer"]
	path = system-design-primer
	url = https://github.com/donnemartin/system-design-primer.git
